html{
  height: 100%;
  width: 100%;
}
body{
  background-color: #D9EDBF;
}
.inicio{
  display: flex;
  justify-content: center;
}
.inicio img{
  width: 500px; 
  margin: 50px;
}
.inicio p{
  font-size: 50px;
  font-weight: bold;
  color: #379777;
}

.enlace{
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.sub{
  display: flex;
  font-size: 30px;
  font-weight: bold;
  color: #41B3A2;
  margin-left: 20px;
}
.content1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.content1 p{
  font-size: 30px;
  color: #41B3A2;
  text-align: justify;
  margin-left: 50px;
  margin-right: 50px;
}

.content1 img{
  width: 500px;
  margin-left: 50px;
  margin-right: 50px;
}


